* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

.nav {
  background-color: #e01a78;
  width: 100%;
  height: 5rem;
  display: flex;
  padding-left: 4rem;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.nav__logo {
  width: 100%;
  max-width: 13rem;
  cursor: pointer;
}

.nav__left {
  display: flex;
  gap: 3rem;
  width: 50%;
}

.nav__logo__container {
  display: flex;
  margin-top: 5.5rem;
}

.nav__center {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.nav__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 50%;
  margin-right: 4rem;
}

hr {
  height: 3rem;
  border-color: black;
}

.nav__item {
  all: unset;
  font-size: 19pt;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: pointer;
  color: #fff;
}

.nav__left a:hover {
  color: black;
  transform: scale(1.5);
}
.nav__item:hover {
  color: black;
}
.main__container {
  overflow: hidden;
}
.main__container__banner__section {
  position: relative;
  background-color: #e01a78;
}
.main__container__banner {
  height: auto;
}
.main__container__button {
  position: absolute;
  right: 44%;
  bottom: 10%;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  letter-spacing: 0.4px;
  border-radius: 0.8rem;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}
.main__container__button:hover {
  background-color: #fff;
  color: #e01a78;
}
.main__container__featured__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e01a78;
  color: #fff;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  letter-spacing: 0.4px;
}
.main__container__featured__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  padding-bottom: 5rem;
  flex-flow: row wrap;
}
.main__container__featured__container__figure {
  overflow: hidden;
}
.main__container__featured__container__figure:nth-of-type(1) {
  grid-column: 1/3;
}
.main__container__featured__container__figure:nth-of-type(6) {
  grid-column: -3/-1;
}
.main__container__featured__container__figure img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  object-fit: fill;
}
.main__container__featured__container__figure img:hover {
  filter: brightness(80%) saturate(70%) contrast(120%) grayscale(10%);
  transform: scale(1.1);
}
.main__container__shop__container {
  height: 50rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.main__container__shop__container__title {
  display: flex;
  justify-content: center;
  font-size: 76px;
  line-height: 1.4;
  color: #e01a78;
  letter-spacing: 2px;
  font-weight: 400;
}

.main__container__shop__container__tabs {
  margin-top: 2rem;
  text-align: center;
}
.main__container__shop__container__tabs ul > li {
  display: inline-block;
  font-size: 2rem;
  min-width: 9rem;
  padding: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main__container__shop__container__tabs ul > li:hover {
  background-color: black;
  color: #fff;
}
.main__container__shop__container__tabs ul > li.active {
  color: #fff;
  background-color: #e01a78;
  cursor: default;
}
.main__container__shop__container__tabs ul > li.active:hover {
  color: #fff;
  background-color: black;
}
.main__container__shop__container__cards {
  background-color: red;
  height: 50rem;
}

.main__container__shop__container__card__image__container {
  position: absolute;
  transition: all .5s ease;
}

.main__container__shop__container__card__alt__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease;
}

.main__container__shop__container__card__image__container:hover .main__container__shop__container__card__alt__image {
  opacity: 1;
}
